

@media screen and (max-width: 1060px) {

    #primary { width:67%; }

    #secondary { width:30%; margin-left:3%;}  

}


@media screen and (max-width: 768px) {

    #primary { width:100%; }

    #secondary { width:100%; margin:0; border:none; }

}








input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}






.btn-group{

}













#aboutpage {
    display: none;
}

.zuckerberg {
        display: none;
}

.narayan {
            display: none;
}











.navBar {
    background-color: black;
    margin-bottom: 0;
    border-color: red;
}
.logo{
    background-color: black;

}

nav.navbar.navbar-default.navBar {
    background-color: white;
    margin-bottom: 0;
    padding: 1px;
    border-color: black;
   /* padding-right: 100px;;*/

}

a#aboutmenu {
    color: black;
    padding-left: 80px;
    padding-right: 80px;
    
}


    .sea{
        float:right;
    }


a#aboutmen {
     padding-right: 80px;
    }
a#homemenu{
    padding-right: 80px;
    
}

a#contactmenu {
    color: black;
    padding-right: 80px;
    
}
#drop{
    padding-right:80px;
    
}
     

a#homemenu {
    color: black;
    padding-right: 80px
    
}



h2.banner {
    position: absolute;
    top: 80px;
    text-align: center;
    width: 91%;;;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 10px;
    left: 34px;
}


.col-md-12.content {
    background-color: powderblue;
}

.col-md-12.menu {
    background-color:powderblue; 
}

.col-md-3.bilgatesdiv .zuckerbergdiv .narayandiv {
}

.bilgatesdiv, .zuckerbergdiv, .narayandiv {
    text-align: center;
    padding: 11px;
    background-color: #c7cdd0;
    margin-left: 43px;
   
}

.bilgatesdiv a, .zuckerbergdiv a, .narayandiv a {
    text-align: center;
    padding: 11px;
    background-color: #c7cdd0;
    text-decoration: none;
    border-bottom: 5px solid orange;
}

.bilgatesdiv a:focus, .zuckerbergdiv a:focus, .narayandiv a:focus {
    text-align: center;
    padding: 11px;
    background-color: #c7cdd0;
   
    border-bottom: 5px solid black;
}


.col-md-12.content {
    text-align: justify;
}

.col-md-12.menu {
}

.content {
    padding-top: 15px;
}

ul.contentul {
    list-style: none;
    margin-left: -48px;
}



ul.footerul li {
    display: inline;;;
    list-style: none;
    padding-right: 100px;;
}



footer a {
    color: orange;;
}




p.footertext {;
    color: orange;;
    font-style: oblique;
}





div#footerdiv {
    padding-top: 19px;
}






ul.footerul {
    list-style: none;
    margin-left: -38px;
}







.aboutcontent.col-md-12 {
    background-color: powderblue;
    margin-top: -16px;
}








.aboutdiv h3 {;
    color: #ff9100;
}









.rightsidediv h3 {;
    color: #ff9100;
}










.col-md-8.aboutdiv {
    padding-bottom: 30px;
    text-align: justify;
}











.col-md-4.rightsidediv > div {
}












.col-md-12.rightsidediv1 {;
}













.col-md-12.rightsidediv2 {
    padding-top: 31px;
}














.col-md-12.rightsidediv3 {
    padding-top: 23px;
}















img.img-responsive.slideimage {
    background-color: white;
    padding: 20px;
}
















.col-md-8.maincontent {;;;;;
}


































.contentul li {;
    margin-bottom: 29px;
}



















.red {
    color: #ff9100;
}




















a#homemenu {
    color: black;
}





















a#homemenu:focus, #aboutmenu:focus {
    border-bottom: 3px solid black;
}






















p.boldBlack {;
    font-weight: bolder;;
    font-family: inherit;
}























h4.name {
    color: #ff9100;
}
























h4.name {
}

























h4.name {
}












.dropbtn {
    background-color:white;
    color: black;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:#f1f1f1; }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}