<p>
    
    <%= @employee.name %>
  </p>
 
  <p>
    <%= @employee.age  %><br>
    
    
  </p>
  <p>
    <%= @employee.designation  %><br>
   
    
  </p>

  <p>
    <%= @employee.company_id  %><br>
   
    
  </p>
 
 
  
